.container {
  border: 1px solid;
  border-color:gainsboro;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.greeting {

}
.wItem{
  color:pink;
  border: 1px solid;
  border-color:gainsboro;
  border-radius: 5px;
}

.weatherReport{
  display:flex;
  flex-direction:row;
  
}

.weatherReportCell{
  width:100px;
  height:50px;
  background-color: azure;
  margin:10px;
  padding:10px;
  text-align: center;
}